.container-process{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:10%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:10%;

}

.step-container{
    text-align: left;
}

.step-container h1{
    width: 80%;
    font-family: 'Gilroy-Bold';
   padding-top:20px;
font-size: 40px;
color:black;
text-align: left;

}
.list-step li{
    font-family: 'Gilroy';
    color:black;
    font-size:20px;
    line-height: 2em;
    margin-top:10px;

}

.question-title{
    color: #FF8126;
}

.list-step{
    list-style-type: none;
    text-align: left;
   

}
.list-step li::before{
    content: " ✓";
    color: black;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius:50%;
    border : 1px solid black;
    padding:auto;
    margin-right:5px;

}