

.carousel{
  
}
.div-slider{
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #D5D6B280;

}

.overlay{

    transform:translateY(-50);
    top: 50px;
   padding-top:30px;
    text-transform:uppercase;
    width: 100%;
    color:black;
}

 .overlay_title{
    padding-top:30px;
    font-size:40px;

    font-family:'Gilroy-Light',sans-serif;
}

.overlay_description{
    margin-left:10px;
    margin-right:10px;
    font-size:70px;
    font-family: 'Gilroy-Bold', sans-serif;
}

.btn-commande{
    background-color: #FF8126;
    height: 55px;
    width: 320px;
    font-size:25px;
    border:0;
    font-family: 'Gilroy-Bold', sans-serif;

}

.btn-commande:active{
    background-color:white;
    color:black;

}

.btn-commande a{
    text-decoration:none;
    color:black;
}

.carousel .thumbs{
    display:flex;
    justify-content: center;
    margin:0;
    padding:10px;

}

