.card {
  display: flex;
  width: 70%;
  margin:auto;
  margin-top: 17%;

}


.card-body {
  display: flex;
  flex-direction: column;
  font-family: "Gilroy-Light", sans-serif;
  text-align: left;
  margin-top: 20px;

}
.title-desc-signaletique {
text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 30px;
}
.description-signaletique {
 
 justify-content: center;
 text-align: center;
 margin:auto;
 padding:5%;
  width: 50%;
  font-size: 20px;
}

.type-signaletique {
  text-decoration: none;
  margin: 2%;
  font-size: 18px;
  font-weight: 500px;
  color: #d7610c;
  font-family: "Gilroy-Medium", sans-serif;
  border: 1px solid black;
  padding: 10px;
  transform: translateX(-50%);
}

.list-signaletique a:hover {
  background-color: #ff8126;
}
.price {
  color: black;
  margin-bottom: 20px;
}
.title-signaletique {
  color: black;
  font-size: 25px;
  width: 80%;
  font-family: "Gilroy-Light";
  font-weight: 300;
}

.list-total {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.btn-panier {
  text-align: center;

  background-color: #ff8126;
  height: 55px;
  width: 60%;
  font-size: 25px;
  color: #ffff;
  font-family: "Gilroy-Bold", sans-serif;
}
.image-signaletique {
  background-color: #f4f4f4;

  height: 250px;
  width: 100%;
}
.image-signaletique img {
  width: auto;
  height: auto;
}
.price {
  height: 48px;
  width: 150px;
  left: 72px;
  top: 538px;
  font-family: "Gilroy", sans-serif;
  font-size: 40px;
  font-style: italic;
  margin-top: 22px;
  font-weight: 700;
  text-align: center;
}
