.ItemCart {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  position: relative;
}

/* Making the delete button appear when you hover over the item. */
.ItemCart_btnDelete {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;
  -webkit-transition: visibility 0.3s ease-in-out;
  -moz-transition: visibility 0.3s ease-in-out;
  -ms-transition: visibility 0.3s ease-in-out;
  -o-transition: visibility 0.3s ease-in-out;
}

/* Making the delete button appear when you hover over the item. */
.ItemCart:hover .ItemCart_btnDelete {
  visibility: visible;
}

.ItemCart_Image {
  height: 100px;
  width: 100px;
  background: blue;
}

.ItemCart_Info {
  margin-left: 10px;
  color: black;
}

.ItemCart_Info_title {
  font-weight: 200;
}

.ItemCart_Info p {
  margin: 0;
}

.ItemCart_Info_price {
  font-size: 20px;
  font-weight: 700;
  color: black;
  font-style: italic;
}

.ItemCart_Info_btn {
  font-weight: 300;
  text-decoration: underline;
  margin-top: 10px !important;
  color: var(--primaryColor);
  display: flex;
  justify-content: baseline;
  /* align-items: center; */
}
