.nav-component {
  margin-left: 2%;
  margin-right: 2%;
}
nav {
  display: flex;
  justify-content: center;
}

nav .item {
  text-decoration: none;
  text-transform: uppercase;
  margin: 40px 50px;
  font-size: 20px;
  font-weight: 500;
  color: black;
  font-family: "Gilroy-Bold", sans-serif;
}

.item:hover {
  color: #d7610c;
}

.item::selected {
  color: #d7610c;
}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entete {
  display: flex;
  flex-direction: row;
}


.dropbtn {

  background-color: transparent;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: non;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: -70px;
}

.dropdown:hover .dropdown-content {
  display: block;
  justify-content: center;
  cursor: pointer;
}
button {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
}

div {
  text-decoration: none;
  color: grey;
}
.btn-dropdown {
  text-align: left;
  border: 1px grey solid;
  background-color: #ffff;
  /* margin-bottom:5px;
    lef:0;
    right:0;
    padding-left:10px;
    margin:0;
    height:30px; */
}

.search {
  border: 1px solid black;
  text-align: left;
}
.search input {
  border: none;
  outline: none;

  margin: 5px;
}

.div-copyright .btn-connexion{
  color:#FF8126;
}
