.DrawerCart{
    width: 450px;
}
.DrawerCart_Header{
    font-size: 20px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    background: var(--primaryColor);
    color: white;
}
.DrawerCart_Body{
    padding: 10px;
}
.DrawerCart_Footer{
    display: flex;
    justify-content: center;
    padding: 20px 0;
} 