#sign-in-form div{
  margin-bottom:10px;
  text-align:center;
  justify-content:center;
  
}

#main-container {
    place-items: center center;
    
  }


  #sign-in-form input{
    
    background-color:#F6F6F6;
    width: 90%;
   padding:4%;
    text-align:left;

  }
  .form-control:focus {
    z-index: 5;
  }

  .modal-body p{
    text-align:center;
    font-size:20px;
  }
  
 